@use "../base/templates" as *;
@use "../base/media" as *;

.footer {
  padding: 35px 0px;
  background-color: var(--black);
  color: white;
  @include tablet {
    padding: 35px 0px;
  }
  @include mobile {
    padding: 45px 0px;
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    row-gap: 20px;
    @include laptop-middle {
      display: block;
      column-count: 4;
      column-gap: 45px;
    }
    @include laptop-min {
      column-count: 3;
    }
    @include tablet-min {
      column-count: 2;
      gap: 15px;
    }
    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  &__nav-item {
    width: 100%;
    padding: 15px 0px;
    @include laptop-middle {
      break-inside: avoid;
      -webkit-column-break-inside: avoid;
    }
    @include mobile {
      padding: 0;
    }
  }
  &__nav-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include tablet-min {
      font-size: 12px;
      line-height: 125%;
    }
    @include mobile {
      @include flex-between;
      gap: 10px;
      margin-bottom: 0;
    }

    &._spoller-active {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 12px;
      height: 7px;

      transition: transform 0.3s ease;

      @media (min-width: 480px) {
        display: none;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include mobile {
      padding: 15px 0px 0px 25px;
    }

    a {
      font-weight: 300;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.8);

      transition: color 0.3s ease;
      @include hover {
        color: white;
      }
      @include tablet-min {
        font-size: 14px;
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    @include tablet {
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;
      text-align: right;
    }
  }
  &__contacts-title {
    font-size: 14px;
    text-transform: uppercase;
    @include tablet-min {
      font-size: 12px;
    }
  }
  &__contacts-list {
    @include flex-between;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    @include tablet {
      gap: 0px;
      flex-direction: column-reverse;
      align-items: flex-end;
    }

    li {
      font-size: 15px;
      @include tablet-min {
        font-size: 14px;
        font-weight: 300;
      }
    }
    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__bottom {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr 200px;
    gap: 30px;
    margin-top: 40px;

    @include laptop-min {
      display: flex;
      gap: 25px;
    }
  }
  &__logo {
    display: block;
    width: 45px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
    }
  }
  &_bottom-middle {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    @include laptop-min {
      text-align: start;
    }
    @include tablet-min {
      display: none;
    }
  }
  &__bottom-content {
    @include laptop-min {
      br {
        display: none;
      }
    }
  }
  &__bottom-copyright {
    @include laptop-min {
      display: none;
    }
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 5px;
    margin-left: auto;

    @include tablet-min {
      gap: 7px;
    }
  }
  &__social-btn {
    @include flex-center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 30px;
    height: 30px;

    transition: background-color 0.3s ease;

    @include tablet-min {
      width: 22px;
      height: 22px;
      background-color: white;
    }

    @include hover {
      background-color: var(--primary);
    }

    img {
      display: block;
      max-width: 70%;
    }
  }
  &__copyright {
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    text-align: center;
    @media (min-width: 992px) {
      display: none;
    }
    @include tablet-min {
      text-align: right;
      font-weight: 300;
    }
  }
}
