@use "../base/templates" as *;
@use "../base/media" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  // bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--black);
  flex-shrink: 0;

  transition: padding 0.4s ease, max-width 0.4s ease;
  z-index: 100;

  &._hide {
    transform: translateY(-100%);
  }
  @media (min-width: 992px) and (max-width: 1680px) {
    &._open {
      .header__line-logo {
        max-height: 0px;
      }
      .header__main {
        transform: translateX(calc(100% - 5px));
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @include laptop-min {
    position: sticky;
    bottom: auto;
    left: auto;
    height: auto;

    width: 100%;
    height: auto;
    padding: 10px 14px !important;
    max-width: none !important;
    z-index: 100;

    transition: transform 0.4s ease;
  }

  &__wrapper {
    position: relative;
    display: flex;
    height: 100%;
    z-index: 1;

    @include laptop-min {
      overflow: visible;
    }
  }
  &__line {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    min-height: 100%;
    flex-shrink: 0;
    padding: 14px 8px;
    width: 65px;
    z-index: 20;
    @include desktop {
      background-color: var(--black);
    }
    @include laptop-min {
      display: none;
    }
  }
  &__line-logo {
    display: block;
    width: 35px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 50px;
    transition: max-height 0.3s ease;

    @include min-desktop {
      display: none;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__line-btn-menu {
    cursor: pointer;

    @include selectNone;

    @include flex-center;
    flex-direction: column;
    gap: 10px;

    font-size: 13px;
    text-transform: uppercase;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }

    @include min-desktop {
      display: none;
    }

    &._close {
      span {
        max-height: 0px;
      }

      .lines {
        justify-content: center;
        div {
          position: absolute;
          &:first-child {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }

    span {
      overflow: hidden;
      max-height: 30px;
      height: 100%;

      transition: max-height 0.3s ease;
    }

    .lines {
      position: relative;
      @include flex-center;
      flex-direction: column;
      gap: 5px;
      min-width: 22px;
      min-height: 22px;

      div {
        width: 100%;
        border-radius: 10px;
        height: 1px;
        width: 25px;
        background-color: currentColor;

        transition: transform 0.3s ease;
      }
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 15px;
    padding-bottom: 15px;
  }
  &__social-btn {
    display: block;
    width: 18px;
    height: 18px;
    color: var(--alto);

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__main {
    background-color: var(--black);
    width: 295px;
    height: 100%;
    z-index: 100;
    padding-right: 10px;
    @include desktop {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      width: 300px;
      transform: translateX(-100%);

      transition: transform 0.4s linear;
      z-index: 1;
    }
    @include laptop-min {
      position: static;
      padding-right: 0;
      width: 100%;
      transform: translateX(0);
    }
  }
  &__main-container {
    padding: 24px 19px 24px 24px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    @include laptop-min {
      @include flex-between;
      overflow: visible;
      gap: 20px;
      padding: 0;
    }

    &::-webkit-scrollbar {
      width: 11px; /* Ширина всего элемента навигации */
    }
    
    &::-webkit-scrollbar-thumb {
      border: 1px solid rgba(69, 69, 69, 0.7);
      border: 3px solid var(--black);
      background-color: #535252;
      border-radius: 10px;
    }
  }
  &__head {
    margin-bottom: 45px;
    @include laptop-min {
      margin: 0;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 15px;

    color: var(--primary);

    @include laptop-min {
      gap: 10px;
      br {
        &:nth-child(2) {
          display: none;
        }
      }
    }
    @include tablet-min {
      gap: 7px;
      br {
        display: none;
      }
    }

    .info {
      @include tablet-min {
        display: none;
      }
    }
    .title {
      font-family: "Forum", sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      @include laptop-min {
        font-size: 14px;
        br {
          display: none;
        }
      }
      @include tablet-min {
        font-size: 10px;
      }
    }
    .descr {
      display: block;
      font-weight: 200;
      font-size: 10px;
      font-family: "Montserrat", sans-serif;
      @media (min-width: 992px) {
        display: none;
      }
      @include tablet-min {
        font-weight: 300;
        font-size: 9px;
        line-height: 100%;
        text-transform: none;
      }
    }

    img {
      display: block;
      width: 65px;
      @include laptop-min {
        width: 40px;
        height: 40px;
      }
    }
  }
  &__head-content {
    font-weight: 200;
    font-size: 12px;
    margin-top: 6px;
    text-align: center;
    color: var(--primary);

    @include laptop-min {
      display: none;
    }
  }
  &__nav {
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 17px;
    color: rgba(255, 255, 255, 0.9);
    @include laptop-min {
      display: none;
    }

    .menu-item-has-children {
      padding-right: 0 !important;
      .btn {
        @include flex-between;
        cursor: pointer;
        gap: 20px;
        @include hover {
          color: var(--primary);
        }

        &._active {
          color: var(--primary);
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    a {
      display: block;
      font-size: 15px;
      text-transform: uppercase;
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }

    svg {
      width: 12px;
      height: 12px;
      flex-shrink: 0;

      transition: transform 0.3s ease, color 0.3s ease;
    }
  }
  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0px 0px 12px;
    color: rgba(255, 255, 255, 0.8);
    & > li {
      padding-right: 20px;
    }

    a {
      text-transform: none;
    }
  }
  &__subsublist {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 15px 0px 0px 15px;
    color: rgba(255, 255, 255, 0.7);
    
    & > li {
      padding-right: 20px;
    }
    
    a {
      font-size: 14px;
      text-transform: none;
    }
  }
  &__info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    @include laptop-min {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 10px;

      font-weight: 300;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.8);

      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);

        svg {
          transform: translateX(5px);
        }
      }

      span {
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      svg {
        width: 17px;
        height: 17px;
        transition: transform 0.3s ease;
      }
    }
  }
  &__main-social {
    @include flex-center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 45px;
    padding-top: 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    @include desktop {
      display: none;
    }
  }
  &__main-social-btn {
    display: block;
    width: 30px;
    height: 30px;

    transition: opacity 0.3s ease;
    @include hover {
      opacity: 0.8;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__mob {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (min-width: 992px) {
      display: none;
    }
  }
  &__mob-list {
    display: flex;
    gap: 15px;

    a {
      display: block;
      width: 20px;
      height: 20px;

      transition: color 0.3s ease;

      @include hover {
        color: var(--primary);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__burger-btn {
    @include flex-center;
    flex-direction: column;
    gap: 5px;
    width: 25px;
    height: 25px;
    color: rgba(255, 255, 255, 0.9);

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }

    div {
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }
  }
}
