@use "../base/templates" as *;
@use "../base/media" as *;

.s-faq {
  &__spollers {
    width: 615px;
    max-width: 100%;
  }
  &__spoller {
    border-bottom: 1px solid var(--silver);

    .content {
      padding-bottom: 20px;
    }
  }
  &__spoller-btn {
    @include flex-between;
    @include selectNone;
    gap: 10px;
    padding: 24px 0px;
    cursor: pointer;

    font-weight: 500;

    @include tablet {
      padding: 20px 0px;
    }

    @include hover {
      span {
        background-size: 100% 100%;
      }
    }

    &._spoller-active {
      svg {
        transform: rotate(45deg);
      }
    }

    span {
      display: inline !important;
      background-repeat: no-repeat;
      background-image: linear-gradient(
        transparent calc(100% - 1px),
        currentColor 1px
      );
      transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      background-size: 0 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    svg {
      width: 17px;
      height: 17px;
      flex-shrink: 0;

      transition: transform 0.3s ease;
    }
  }
}
