@use "../base/templates" as *;
@use "../base/media" as *;

.s-gallery {
  overflow: hidden;
  padding: 5px 0px;
  &__slider {
    overflow: visible !important;

    @include tablet {
      width: calc(100% - 50px);
      margin: 0 auto;
    }

    .swiper-wrapper {
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }
  }
  &__slide {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    outline: none;
    aspect-ratio: 1/1;

    @media (min-width: 992px) {
      @include hover {
        img {
          transform: scale(1.08);
        }
      }
    }
    @include mobile {
      aspect-ratio: 1/1.4;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
}
