@use "../base/templates" as *;
@use "../base/media" as *;

.s-history {
  &__head {
    overflow: hidden;
    padding: 60px 0px;
    background: linear-gradient(180deg, #f9f9f9 0%, #fff 100%);

    @include tablet {
      padding: 50px 0px;
    }
  }
  &__line-wrapper {
    overflow-x: auto;
    margin: 0 -24px;
    padding: 0 24px 4px 24px;

    @include tablet-min {
      margin: 0 -12px;
      padding: 0 12px 4px 12px;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__line {
    display: flex;
    min-width: 1125px;
    @include tablet {
      min-width: 900px;
    }
  }
  &__line-item {
    flex: 1;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;

    text-align: center;

    @include laptop-min {
      text-align: start;
      align-items: start;
    }

    &:not(:last-child) {
      padding-right: 20px;
    }
    &:not(:first-child) {
      .circle {
        &::after {
          left: 0;
        }
      }
    }
    &:last-child {
      .circle {
        &::after {
          right: 50%;

          @include laptop-min {
            display: none;
          }
        }
      }
    }

    &._active {
      .circle {
        div {
          &::before {
            position: absolute;
            content: "";
            inset: -4px;
            background-color: white;
            border-radius: 50%;
            border: 1px solid #cc853b;
            z-index: -1;
          }
        }
      }
    }

    .name {
      flex: 1;
      font-size: 12px;
      line-height: 133%;
      text-transform: uppercase;
      margin-bottom: 25px;
      @include tablet-min {
        max-width: 170px;
        margin-bottom: 5px;
      }
    }
    .circle {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 25px;
      @include tablet {
        margin-bottom: 20px;
      }

      &::after {
        position: absolute;
        content: "";
        right: -20px;
        left: 50%;
        height: 1px;
        background-color: #cc853b;

        @include laptop-min {
          left: 0;
        }
      }

      div {
        position: relative;
        width: 9px;
        height: 9px;
        margin: 0 auto;
        z-index: 1;

        @include laptop-min {
          margin: 0;
        }

        &::after {
          position: absolute;
          content: "";
          inset: 0;
          border-radius: 50%;
          background-color: #cc853b;
          z-index: 1;
        }
      }
    }
    .year {
      font-weight: 500;
      color: var(--gray);
    }
  }
  &__quote {
    padding: 35px 0px;
    text-align: center;
    width: 805px;
    max-width: 100%;
    margin: 0 auto;
    @include tablet {
      padding: 25px 0px;
    }
  }
  &__quote-tag {
    @include flex-center;
    position: relative;
    font-family: "Playfair Display SC", sans-serif;
    font-size: 64px;
    line-height: 32px;
    margin-bottom: 30px;

    @include tablet {
      font-size: 48px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    &::before {
      content: "“";
      transform: translateY(50%);
    }
  }
  &__quote-content {
    margin: 0px 0px 30px 0px;
    @include tablet {
      font-weight: 400;
      margin-bottom: 25px;
    }
  }
  &__author {
    font-weight: 500;
    color: var(--gray);
  }
}
