@use "../base/templates" as *;
@use "../base/media" as *;

.s-news {
  @include laptop-min {
    overflow: hidden;
    padding-bottom: 15px;
  }
  &__slider-wrapper {
    position: relative;

    @include tablet {
      width: calc(100% - 48px);
      margin: 0 auto;
    }
  }
  &__slider {
    padding: 20px !important;
    margin: -20px !important;

    @include laptop-min {
      overflow: visible !important;
      padding: 0 !important;
      margin: 0 auto !important;
    }

    .swiper-slide {
      height: auto !important;
      box-sizing: border-box;

      &.swiper-slide-prev,
      &.swiper-slide-active,
      &.swiper-slide-next {
        .card-new {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        }
      }
    }

    .card-new {
      height: 100%;
    }
  }
}
