@use "../base/templates" as *;
@use "../base/media" as *;

.s-news {
  @include laptop-min {
    overflow: hidden;
    padding-bottom: 15px;
  }
  &__slider-wrapper {
    position: relative;

    @include tablet {
      width: calc(100% - 48px);
      margin: 0 auto;
    }

    .slider-btn {
      position: absolute;
      top: calc(50% - 25px);
      z-index: 10;

      &._prev {
        left: 0;
        transform: translateX(-50%);
      }
      &._next {
        right: 0;
        transform: translateX(50%);
      }

      @include laptop-min {
        transform: translateX(0) !important;

        &._prev {
          left: -8px;
        }
        &._next {
          right: -8px;
        }
      }
    }
  }
  &__slider {
    padding: 12px !important;
    margin: -12px !important;

    @include laptop-min {
      overflow: visible !important;
    }

    .swiper-slide {
      height: auto !important;
      box-sizing: border-box;
      // @include laptop-min {
      //   width: 375px !important;
      //   max-width: 100%;
      // }
      // @include tablet-min {
      //   width: 240px !important;
      // }
    }

    .card-new {
      height: 100%;
    }
  }
}