@use "../base/templates" as *;
@use "../base/media" as *;

.s-offer {
  padding: 80px 0px;
  background: linear-gradient(180deg, #fff 0%, #f9f9f9 100%);
  @include laptop-min {
    padding: 50px 0px;
  }
  @include tablet {
    padding: 30px 0px;
  }

  &__head {
    @include flex-between;
    gap: 20px;
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 10px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
    }
    @include tablet {
      gap: 20px;
    }

    .player {
      flex-shrink: 0;
      @include laptop-min {
        width: 100%;
      }
    }
  }
  &__info {
    flex: 0 1 595px;
    @include laptop-min {
      width: 100%;
      flex: auto;
    }
  }
  &__date {
    font-size: 14px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    @include tablet-min {
      font-size: 14px;
    }
  }
  &__author {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray);
    margin-top: 20px;
    @include tablet {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}
