@use "../base/templates" as *;
@use "../base/media" as *;

.s-useful {
  @include laptop-min {
    overflow: hidden;
    padding: 20px 0px;
  }
  &__slider-wrapper {
    position: relative;

    @include tablet {
      width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
  &__slider {
    margin: -20px;
    padding: 20px;
    @include laptop-min {
      overflow: visible !important;
      margin: 0 auto !important;
      padding: 0;
    }
    .swiper-slide {
      height: auto !important;
      &.swiper-slide-active,
      &.swiper-slide-next,
      &.swiper-slide-next + .swiper-slide {
        .card-useful {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        }
      }

      @include laptop-min {
        width: 375px !important;

        .card-useful {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        }
      }
      @include mobile {
        width: 100% !important;
      }
    }
    .card-useful {
      height: 100%;
    }
  }
}
