@use "../base/templates" as *;
@use "../base/media" as *;

.btn-clear {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-s {
  --border-color: var(--black);
  --background-color: var(--black);
  --color: white;

  --hover-border-color: var(--chalice);
  --hover-background-color: var(--chalice);
  --hover-color: white;

  @include flex-center;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  padding: 17px 30px;
  border-radius: 3px;
  width: fit-content;
  font-weight: 400;

  color: var(--color);
  font-size: 16px;
  text-align: center;

  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;

  @include tablet {
    padding: 13px 20px;
    font-size: 14px;
  }

  @include hover {
    border: 1px solid var(--hover-border-color);
    background-color: var(--hover-background-color);
    color: var(--hover-color);

    span {
      transform: scale(1.05);
    }
  }

  &._outline {
    --background-color: transparent;
    --color: var(--black);
  }

  span {
    transition: transform 0.3s ease;
  }
}

.simple-btn {
  display: block;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--black);

  transition: color 0.3s ease;
  @include hover {
    color: rgba(23, 23, 23, 0.5);
  }
  @include tablet-min {
    font-size: 14px;
  }

  &._mob {
    margin: 15px 0px 0px auto;
    @media (min-width: 580px) {
      display: none;
    }
  }
}

.btn-play {
  --background-color: white;
  --color: var(--black);

  @include flex-center;
  border-radius: 50%;
  cursor: pointer;

  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--color);

  transition: transform .3s ease;

  @include hover {
    transform: scale(1.1);
  }
  @include tablet-min {
    width: 50px;
    height: 50px;
  }

  svg {
    width: 25px;
    height: 25px;

    @include tablet-min {
      width: 18px;
      height: 18px;
    }
  }
}
