@use "../base/templates" as *;
@use "../base/media" as *;

.btn-clear {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-s {
  --border-color: var(--black);
  --background-color: var(--black);
  --color: white;

  --hover-border-color: var(--black-light);
  --hover-background-color: var(--black-light);
  --hover-color: white;

  @include flex-center;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  padding: 17px 30px;
  border-radius: 3px;
  width: fit-content;

  color: var(--color);
  font-size: 16px;
  text-align: center;

  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;

  @include hover {
    border: 1px solid var(--hover-border-color);
    background-color: var(--hover-background-color);
    color: var(--hover-color);
  }

  &._outline {
    --background-color: transparent;
    --color: var(--black);

    --hover-border-color: var(--black);
    --hover-background-color: var(--black);
    --hover-color: white;
  }
}

.simple-btn {
  display: block;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 4px;

  transition: color 0.3s ease;
  @include hover {
    color: rgba(23, 23, 23, 0.5);
  }
  @include tablet-min {
    font-size: 14px;
  }

  &._mob {
    margin: 15px 0px 0px auto;
    @media (min-width: 576px) {
      display: none;
    }
  }
}
