@use "../base/templates" as *;
@use "../base/media" as *;

.card-new {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

  transition: color 0.3s ease;

  @include hover {
    color: var(--primary);

    .card-new__arrow {
      transform: rotate(-45deg);
    }
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    @include tablet-min {
      padding: 22px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    @include tablet-min {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  &__date {
    font-weight: 500;
    font-size: 14px;
    color: rgba(23, 23, 23, 0.4);
    margin-bottom: 15px;
    @include tablet-min {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
  &__arrow {
    margin: auto 0px 0px auto;
    display: block;
    width: 18px;
    height: 18px;

    transition: transform 0.3s ease;
  }
}
