@use "../base/templates" as *;
@use "../base/media" as *;
@use "../base/animation" as *;

.card-diocese {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 30px;

  transition: box-shadow 0.3s ease;
  @include tablet {
    padding: 25px;
  }

  &__title {
    font-weight: 500;
    margin: 0px 0px 30px 0px;

    @include tablet {
      margin-bottom: 15px;
    }

    @include hover {
      span {
        background-size: 100% 100%;
      }
    }

    span {
      display: inline !important;
      width: 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient(
        transparent calc(100% - 1px),
        currentColor 1px
      );
      transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      background-size: 0 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  &__content {
    margin: 0px 0px 5px 0px;
  }
  &__wrapper-arrow {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: auto 0px 0px auto;

    @include hover {
      .card-diocese__arrow {
        animation: animationTranslate 0.4s linear forwards;
      }
    }
  }
  &__arrow {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
