@use "../base/templates" as *;
@use "../base/media" as *;
@use "../base/animation" as *;

.card-team {
  display: flex;
  flex-direction: column;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  border-radius: 3px;
  overflow: hidden;
  user-select: none;
  transition: box-shadow 0.3s ease;
  &__gallery {
    width: 100%;
    aspect-ratio: 1/1.4;
    overflow: hidden;

    @media (min-width: 992px) {
      @include hover {
        img {
          transform: scale(1.08);
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 25px 15px 25px;
    @include mobile {
      padding: 25px 20px 15px 20px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    margin: 0px 0px 12px 0px;

    transition: color 0.3s ease;

    @include hover {
      text-decoration: underline;
    }
    @include tablet-min {
      font-size: 14px;
    }
  }
  &__status {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray);
    @include tablet-min {
      font-size: 12px;
    }
  }
  &__wrapper-arrow {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: auto 0px 0px auto;

    @include hover {
      .card-team__arrow {
        animation: animationTranslate 0.4s linear forwards;
      }
    }
  }
  &__arrow {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
