@use "../base/templates" as *;
@use "../base/media" as *;
@use "../base/animation" as *;

.card-team {
  display: flex;
  flex-direction: column;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  &__gallery {
    width: 100%;
    aspect-ratio: 1/1.4;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 25px 15px 25px;
    @include mobile {
      padding: 25px 20px 15px 20px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 12px 0px;
    max-width: 200px;

    transition: color 0.3s ease;

    @include hover {
      @include hover {
        color: var(--primary);
      }
    }
    @include tablet-min {
      font-size: 14px;
    }
  }
  &__status {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray);
    @include tablet-min {
      font-size: 12px;
    }
  }
  &__arrow {
    margin: auto 0px 0px auto;
    display: block;
    width: 18px;
    height: 18px;
    @include hover {
      animation: animationScale 0.3s linear forwards;
    }
  }
}
