@use "../base/templates" as *;
@use "../base/media" as *;

.card-new {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  flex-direction: column;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  // box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.05);

  transition: color 0.3s ease, box-shadow 0.3s ease;

  @include hover {
    .card-new__img {
      transform: scale(1.08);
    }
  }

  &__gallery {
    display: block;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;

    transition: transform 0.3s linear;
  }
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 15px 30px;
    @include tablet-min {
      padding: 22px 22px 14px 22px;
    }
  }
  &__title {
    font-weight: 500;
    width: fit-content;
    font-size: 16px;
    margin-bottom: 15px;
    text-underline-offset: 3px;

    transition: color 0.3s ease;

    @include tablet-min {
      font-size: 14px;
      margin-bottom: 10px;
    }

    @include hover {
      text-decoration: underline;
    }
  }
  &__date {
    font-weight: 500;
    font-size: 14px;
    color: rgba(23, 23, 23, 0.4);
    margin-bottom: 15px;
    @include tablet-min {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
  &__arrow {
    margin: auto 0px 0px auto;
    display: block;
    overflow: hidden;
    width: 18px;
    height: 18px;

    transition: all 0.3s ease;

    @include hover {
      animation: animationScale 0.3s linear forwards;
    }

    @keyframes animationScale {
      0% {
        transform: scaleX(1);
      }
      50% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(1);
      }
    }
  }
}
