@use "../base/templates" as *;
@use "../base/media" as *;
@use "../base/animation" as *;

.card-useful {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;

  transition: box-shadow 0.3s ease;
  &__gallery {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;

    @media (min-width: 992px) {
      @include hover {
        img {
          transform: scale(1.08);
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
  &__body {
    background-color: white;
    padding: 30px 20px 10px 20px;
    @include tablet {
      padding: 20px 20px 10px 20px;
    }
  }
  &__title {
    width: fit-content;

    font-weight: 500;
    font-size: 20px;

    @include hover {
      span {
        background-size: 100% 100%;
      }
    }
    @include tablet {
      font-size: 16px;
    }
    @include tablet-min {
      font-size: 14px;
    }

    span {
      display: inline;
      background-image: linear-gradient(
        transparent calc(100% - 1px),
        currentColor 1px
      );
      background-repeat: no-repeat;
      background-position: 0 calc(100% - 1px);
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      background-size: 0 100%;

      transition: background-size 0.3s ease;
    }
  }
  &__wrapper-arrow {
    width: 18px;
    height: 18px;
    overflow: hidden;
    margin: 5px 0px 0px auto;

    @include hover {
      .card-new__arrow {
        animation: animationTranslate 0.4s linear forwards;
      }
    }
  }
  &__arrow {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
