@use "../base/templates" as *;
@use "../base/media" as *;
@use "../base/animation" as *;

.card-useful {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;

  transition: box-shadow 0.3s ease;
  &__gallery {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;

    @media (min-width: 992px) {
      @include hover {
        img {
          transform: scale(1.08);
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
  &__body {
    background-color: white;
    padding: 30px 20px 10px 20px;
    @include tablet {
      padding: 20px 20px 10px 20px;
    }
  }
  &__title {
    width: fit-content;

    font-weight: 500;
    font-size: 20px;

    @include hover {
      text-decoration: underline;
    }
    @include tablet {
      font-size: 16px;
    }
    @include tablet-min {
      font-size: 14px;
    }
  }
  &__arrow {
    display: block;
    width: 18px;
    height: 18px;
    margin: 5px 0px 0px auto;

    @include hover {
      animation: animationScale 0.3s linear forwards;
    }
  }
}
