@use "../base/templates" as *;
@use "../base/media" as *;

.content {
  @include tablet-min {
    font-size: 14px;
  }
  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    a {
      @include hover {
        text-decoration: underline;
      }
    }
  }
}
.content-min {
  font-size: 14px;
  @include tablet-min {
    font-size: 12px;
  }
}