[data-panzoom-action="toggleFull"],
[data-fullscreen-action="toggle"],
[data-autoplay-action="toggle"],
[data-thumbs-action="toggle"] {
  display: none !important;
}
.fancybox__thumbs {
  display: none !important;
}
.f-html {
  padding: 0 !important;
}
