@use "../base/templates" as *;
@use "../base/media" as *;

.sect-m {
  margin: 135px 0px;
  @include laptop-min {
    margin: 120px 0px;
  }
  @include tablet {
    margin: 80px 0px;
  }
}
.sect-p {
  padding: 60px 0px;
  @include tablet {
    padding: 45px 0px;
  }
}
.sect-head {
  @include flex-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;

  @include laptop-min {
    margin-bottom: 40px;
  }

  .simple-btn {
    @media (max-width: 679px) {
      display: none;
    }
  }
}
