@use "../base/templates" as *;
@use "../base/media" as *;

.slider-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  @include tablet {
    margin-top: 25px;
    gap: 5px;
  }

  &.swiper-pagination-lock {
    display: none;
  }

  .swiper-pagination-bullet {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 1 !important;
    margin: 0 !important;
    border-radius: 50% !important;
    background-color: transparent;
    border: 1px solid transparent;
    width: 20px;
    height: 20px;

    transition: border-color 0.3s ease;

    @include tablet {
      width: 14px;
      height: 14px;
    }

    &.swiper-pagination-bullet-active {
      border-color: var(--silver);
    }

    &::before {
      position: absolute;
      content: "";
      background-color: var(--black);
      border-radius: 50%;
      width: 8px;
      height: 8px;
      @include tablet {
        width: 4px;
        height: 4px;
      }
    }
  }
}

.slider-btn {
  @include flex-center;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-appearance: none !important;
  user-select: none !important;
  outline: none !important;

  transition: color 0.3s ease, opacity 0.3s ease, visibility .3s ease;

  z-index: 10;

  &._prev {
    left: 0;
    transform: translateX(-50%);
  }
  &._next {
    right: 0;
    transform: translateX(50%);
  }

  @include tablet {
    width: 30px;
    height: 30px;

    transform: translateX(0) !important;
    &._prev {
      left: -23px;
    }
    &._next {
      right: -23px;
    }
  }

  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.7;
  }
  &.swiper-button-lock {
    opacity: 0;
    visibility: hidden;
  }

  svg {
    width: 16px;
    height: 16px;
    @include tablet {
      width: 12px;
      height: 12px;
    }
  }
}
