@use "../base/templates" as *;
@use "../base/media" as *;

.video {
  @include flex-center;
  position: relative;
  width: 100%;
  height: 620px;
  @include laptop-min {
    height: 315px;
  }
  @include mobile {
    height: 210px;
  }
}