@use "../base/templates" as *;
@use "../base/media" as *;

.player {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  width: 470px;
  max-width: 100%;

  @include tablet {
    gap: 15px;
  }
}
.player-audio {
  display: none;
}
.player-btn {
  @include flex-center;
  cursor: pointer;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid var(--silver);

  @include tablet {
    width: 50px;
    height: 50px;
  }

  &._active {
    svg {
      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }

  svg {
    position: absolute;
    width: 25px;
    height: 25px;

    transition: opacity .3s ease;

    &:nth-child(2) {
      opacity: 0;
    }

    @include tablet {
      width: 15px;
      height: 15px;
    }
  }
}
.player-timeline {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
  height: 1px;
  background-color: var(--black);
}
.player-timeline-input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.player-timeline-circle {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
}
.player-time {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray);
  width: 95px;
  @include tablet {
    font-size: 12px;
  }
}
