@use "../base/templates" as *;
@use "../base/media" as *;

.player {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  width: 470px;
  max-width: 100%;

  @include tablet {
    gap: 15px;
  }
}
.player-audio {
  display: none;
}
.player-btn {
  @include flex-center;
  position: relative;
  cursor: pointer;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid var(--silver);

  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-appearance: none !important;
  user-select: none !important;
  outline: none !important;

  transition: border-color 0.3s ease;

  @include tablet {
    width: 50px;
    height: 50px;
  }

  @include hover {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &._refresh {
    border-color: transparent;
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 50%;
    border: 1px solid var(--black);
    transform: scale(0.5);
    opacity: 0;

    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  &::after {
    position: absolute;
    content: "";
    inset: -1px;
    background: url("@img/refresh.svg") center/ 100% auto no-repeat;
    opacity: 0;
    z-index: 1;

    transition: opacity 0.3s ease;
  }

  &._active {
    svg {
      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }

  svg {
    position: absolute;
    width: 25px;
    height: 25px;

    transition: opacity 0.3s ease;

    &:nth-child(2) {
      opacity: 0;
    }

    @include tablet {
      width: 15px;
      height: 15px;
    }
  }
}
.player-timeline {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
  height: 1px;
  background-color: var(--black);
}
.player-timeline-input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.player-timeline-track {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--silver);
}
.player-timeline-circle {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
}
.player-time {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray);
  width: 95px;
  @include tablet {
    font-size: 12px;
  }
}
