<footer class="footer">
  <div class="container">
    <div data-spollers="479, max" class="footer__nav">
      <div class="footer__nav-item">
        <div data-spoller class="footer__nav-title">
          <span>Храм</span>
          <svg viewBox="0 0 12 6" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.236328 0.258789L5.73633 5.25879L11.2363 0.258789"
              stroke="currentColor"
              stroke-width="0.7"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <ul class="list footer__list">
            <li><a href="#">История</a></li>
            <li><a href="#">Главный храм Сухопутных войск</a></li>
            <li><a href="#">Главный храм Преображенского полка</a></li>
            <li><a href="#">Духовенство</a></li>
            <li><a href="#">Церковная лавка</a></li>
            <li><a href="#">Престольные праздники</a></li>
            <li><a href="#">Иконы</a></li>
            <li><a href="#">Старинные иконы</a></li>
            <li><a href="#">Чудотворные иконы</a></li>
            <li><a href="#">Книга чудес</a></li>
            <li><a href="#">Мощевики</a></li>
            <li><a href="#">Хор</a></li>
            <li><a href="#">Экскурсии по храму</a></li>
            <li><a href="#">Помощь храму</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__nav-item">
        <div data-spoller class="footer__nav-title">
          <span>Расписание</span>
          <svg viewBox="0 0 12 6" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.236328 0.258789L5.73633 5.25879L11.2363 0.258789"
              stroke="currentColor"
              stroke-width="0.7"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <ul class="list footer__list">
            <li><a href="#">Расписание богослужений</a></li>
            <li><a href="#">Исповедь</a></li>
            <li><a href="#">Крещение</a></li>
            <li><a href="#">Венчание</a></li>
            <li><a href="#">Соборование</a></li>
            <li><a href="#">Отпевание</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__nav-item">
        <div data-spoller class="footer__nav-title">
          <span>Воскресная школа</span>
          <svg viewBox="0 0 12 6" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.236328 0.258789L5.73633 5.25879L11.2363 0.258789"
              stroke="currentColor"
              stroke-width="0.7"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <ul class="list footer__list">
            <li><a href="#">О школе</a></li>
            <li><a href="#">Клуб «Рукотворушка»</a></li>
            <li><a href="#">Церковно-хоровое пение</a></li>
            <li><a href="#">Закон Божий</a></li>
            <li><a href="#">Колокольный звон</a></li>
            <li><a href="#">Новый завет</a></li>
            <li><a href="#">Литургия</a></li>
            <li><a href="#">Занятия для детей</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__nav-item">
        <div data-spoller class="footer__nav-title">
          <span>Молодежка</span>
          <svg viewBox="0 0 12 6" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.236328 0.258789L5.73633 5.25879L11.2363 0.258789"
              stroke="currentColor"
              stroke-width="0.7"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <ul class="list footer__list">
            <li><a href="#">О нас</a></li>
            <li><a href="#">События</a></li>
            <li><a href="#">Чаепития с батюшкой</a></li>
            <li><a href="#">Спортивные мероприятия и поездки</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__nav-item">
        <div data-spoller class="footer__nav-title">
          <span>Прихожанам</span>
          <svg viewBox="0 0 12 6" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.236328 0.258789L5.73633 5.25879L11.2363 0.258789"
              stroke="currentColor"
              stroke-width="0.7"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <ul class="list footer__list">
            <li><a href="#">Подать записку</a></li>
            <li><a href="#">Социальная помощь</a></li>
            <li><a href="#">Пасхальная весна</a></li>
            <li><a href="#">Часто задаваемые вопросы</a></li>
            <li><a href="#">Волонтеры</a></li>
            <li><a href="#">Рекомендуемая литература</a></li>
            <li><a href="#">Архив новостей</a></li>
            <li><a href="#">Моломобильным прихожанам</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__nav-item">
        <div data-spoller class="footer__nav-title">
          <span>Медиа</span>
          <svg viewBox="0 0 12 6" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.236328 0.258789L5.73633 5.25879L11.2363 0.258789"
              stroke="currentColor"
              stroke-width="0.7"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <ul class="list footer__list">
            <li><a href="#">Проповеди аудио</a></li>
            <li><a href="#">Проповеди видео</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Видеогалерея</a></li>
            <li><a href="#">Записи чаепитий</a></li>
            <li><a href="#">Вопрос-ответ с чаепитий</a></li>
            <li><a href="#">Мы в соцсетях</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__contacts">
      <div class="footer__contacts-title">Контакты:</div>
      <ul class="list footer__contacts-list">
        <li>
          тел.:
          <a href="tel:+7963713319">+7 (963) 771 33 19</a>
        </li>
        <li>г. Москва, Преображенская Площадь, д. 9а</li>
      </ul>
    </div>
    <div class="footer__bottom">
      <a href="/" class="footer__logo">
        <img src="@img/logo-dark.svg" alt="logo" />
      </a>
      <div class="footer_bottom-middle">
        <div class="footer__bottom-content">
          Русская Православная Церковь | Московский Патриархат | Восточное
          викариатство
          <br />
          Воскресенское благочиние
        </div>
        <div class="footer__bottom-copyright">© 1998–2025</div>
      </div>
      <div class="footer__social">
        <a href="#" target="_blank" class="footer__social-btn">
          <img src="@img/tg.svg" alt="icon" />
        </a>
        <a href="#" target="_blank" class="footer__social-btn">
          <img src="@img/vk.svg" alt="icon" />
        </a>
        <a href="#" target="_blank" class="footer__social-btn">
          <img src="@img/ter.svg" alt="icon" />
        </a>
        <a href="#" target="_blank" class="footer__social-btn">
          <img src="@img/rt.svg" alt="icon" />
        </a>
      </div>
    </div>
    <div class="footer__copyright">© 1998–2025</div>
  </div>
</footer>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/justvalidate/justvalidate.min.js"></script>
