<header class="header">
  <div class="header__wrapper">
    <div class="header__line">
      <a href="/" class="header__line-logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="header__line-btn-menu" id="header-toggle-btn">
        <span>меню</span>
        <div class="lines">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="header__social">
        <a href="#" target="_blank" class="header__social-btn">
          <svg>
            <use xlink:href="@svg/icons.svg#icon-rutube"></use>
          </svg>
        </a>
        <a href="#" target="_blank" class="header__social-btn">
          <svg>
            <use xlink:href="@svg/icons.svg#icon-vk"></use>
          </svg>
        </a>
        <a href="#" target="_blank" class="header__social-btn">
          <svg>
            <use xlink:href="@svg/icons.svg#icon-ter"></use>
          </svg>
        </a>
        <a href="#" target="_blank" class="header__social-btn">
          <svg>
            <use xlink:href="@svg/icons.svg#icon-tg"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="header__main">
      <div class="header__main-container">
        <div class="header__head">
          <a href="/" class="header__logo">
            <img src="@img/logo.svg" alt="logo" />
            <div class="content">
              <span class="title">
                Храм
                <br />
                Преображения
                <br />
                Господня
              </span>
              <span class="descr">на Преображенской площади</span>
            </div>
          </a>
          <div class="header__head-content">на Преображенской площади</div>
        </div>
        <nav class="header__nav">
          <ul class="list header__list has-children-list">
            <li class="menu-item-has-children">
              <div class="btn">
                <a href="#">Храм</a>
                <svg>
                  <use xlink:href="@svg/icons.svg#icon-down"></use>
                </svg>
              </div>
              <div class="content">
                <ul class="list header__sublist">
                  <li><a href="#">История</a></li>
                  <li><a href="#">Храм Сухопутных войск</a></li>
                  <li><a href="#">Храм Преображенского полка</a></li>
                  <li><a href="#">Духовенство</a></li>
                  <li><a href="#">Подать записку</a></li>
                  <li><a href="#">Церковная лавка</a></li>
                  <li><a href="#">Престольные праздники</a></li>
                  <li class="menu-item-has-children">
                    <div class="btn">
                      <a href="#">Иконы</a>
                      <svg>
                        <use xlink:href="@svg/icons.svg#icon-down"></use>
                      </svg>
                    </div>
                    <div class="content">
                      <ul class="list header__menu-subsublist">
                        <li><a href="#">Центральный придел</a></li>
                        <li><a href="#">Правый придел</a></li>
                        <li><a href="#">Левый придел</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">расписание</a>
            </li>
            <li>
              <a href="#">воскресная школа</a>
            </li>
            <li>
              <a href="#">молодежка</a>
            </li>
            <li>
              <a href="#">прихожанам</a>
            </li>
            <li>
              <a href="#">медиа</a>
            </li>
            <li>
              <a href="#">контакты</a>
            </li>
          </ul>
        </nav>
        <ul class="list header__info-list">
          <li>
            <a href="#">
              <span>Пожертвование</span>
              <svg>
                <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Записки</span>
              <svg>
                <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="header__main-social">
          <a href="#" target="_blank" class="header__main-social-btn">
            <img src="@img/tg.svg" alt="icon">
          </a>
          <a href="#" target="_blank" class="header__main-social-btn">
            <img src="@img/yt.svg" alt="icon">
          </a>
          <a href="#" target="_blank" class="header__main-social-btn">
            <img src="@img/vk.svg" alt="icon">
          </a>
          <a href="#" target="_blank" class="header__main-social-btn">
            <img src="@img/ter.svg" alt="icon">
          </a>
          <a href="#" target="_blank" class="header__main-social-btn">
            <img src="@img/rt.svg" alt="icon">
          </a>
        </div>
        <div class="header__mob">
          <ul class="list header__mob-list">
            <li>
              <a href="#">
                <svg>
                  <use xlink:href="@svg/icons.svg#icon-calendar"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg>
                  <use xlink:href="@svg/icons.svg#icon-like"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg>
                  <use xlink:href="@svg/icons.svg#icon-bible"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="header__burger-btn" id="burger-open">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="burger-overlay" id="burger-overlay"></div>
<div class="burger" id="burger">
  <div class="burger__head">
    <a href="#" class="burger__logo">
      <img src="@img/logo.svg" alt="logo" />
      <div class="content">
        <div class="title">Храм преображения господня</div>
        <div class="descr">на Преображенской площади</div>
      </div>
    </a>
    <div class="burger__close" id="burger-close">
      <svg>
        <use xlink:href="@svg/icons.svg#icon-close"></use>
      </svg>
    </div>
  </div>
  <ul class="list burger__list has-children-list">
    <li class="menu-item-has-children">
      <div class="btn">
        <a href="#">Храм</a>
        <svg>
          <use xlink:href="@svg/icons.svg#icon-down"></use>
        </svg>
      </div>
      <div class="content">
        <ul class="list burger__sublist">
          <li><a href="#">История</a></li>
          <li><a href="#">Храм Сухопутных войск</a></li>
          <li><a href="#">Храм Преображенского полка</a></li>
          <li><a href="#">Духовенство</a></li>
          <li><a href="#">Подать записку</a></li>
          <li><a href="#">Церковная лавка</a></li>
          <li><a href="#">Престольные праздники</a></li>
          <li class="menu-item-has-children">
            <div class="btn">
              <a href="#">Иконы</a>
              <svg>
                <use xlink:href="@svg/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div class="content">
              <ul class="list burger__menu-subsublist">
                <li><a href="#">Центральный придел</a></li>
                <li><a href="#">Правый придел</a></li>
                <li><a href="#">Левый придел</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">расписание</a>
    </li>
    <li>
      <a href="#">воскресная школа</a>
    </li>
    <li>
      <a href="#">молодежка</a>
    </li>
    <li>
      <a href="#">прихожанам</a>
    </li>
    <li>
      <a href="#">медиа</a>
    </li>
    <li>
      <a href="#">контакты</a>
    </li>
  </ul>
  <ul class="list burger__info-list">
    <li>
      <a href="#">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-like"></use>
        </svg>
        <span>Пожертвование</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-bible"></use>
        </svg>
        <span>Записки</span>
      </a>
    </li>
  </ul>
  <div class="burger__social">
    <a href="#" target="_blank" class="burger__social-btn">
      <svg>
        <use xlink:href="@svg/icons.svg#icon-tg"></use>
      </svg>
    </a>
    <a href="#" target="_blank" class="burger__social-btn">
      <svg>
        <use xlink:href="@svg/icons.svg#icon-ter"></use>
      </svg>
    </a>
    <a href="#" target="_blank" class="burger__social-btn">
      <svg>
        <use xlink:href="@svg/icons.svg#icon-vk"></use>
      </svg>
    </a>
    <a href="#" target="_blank" class="burger__social-btn">
      <svg>
        <use xlink:href="@svg/icons.svg#icon-rutube"></use>
      </svg>
    </a>
  </div>
</div>
