<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./files/swiper/swiper.min.css" />
  <link rel="stylesheet" href="./files/fancybox/fancybox.min.css" />
  <script src="./files/swiper/swiper.min.js"></script>
  <script src="./files/fancybox/fancybox.min.js"></script>
  <script src="./files/justvalidate/justvalidate.min.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=b46e9249-4925-4460-b11c-3aaf76ad0115&lang=ru_RU" type="text/javascript"></script>
  <title>pauchoo0k</title>
</head>
