<section class="intro">
  <picture class="intro__bg">
    <source srcset="@img/intro-mob.jpg" media="(max-width: 480px)" />
    <source srcset="@img/intro-tablet.jpg" media="(max-width: 768px)" />
    <img src="@img/intro.jpg" alt="image" />
  </picture>
  <div class="container">
    <div class="intro__wrapper">
      <div class="intro__head">
        <h1 class="intro__title">Храм Преображения Господня</h1>
        <div class="intro__subtitle">на Преображенской площади</div>
      </div>
      <ul class="list intro__list">
        <li>
          <span>
            Главный Храм
            <br />
            Сухопутных войск
          </span>
          <img src="@img/intro-item-1.png" alt="icon" />
        </li>
        <li>
          <span>
            храм
            <br />
            преображенского полка
          </span>
          <img src="@img/intro-item-2.png" alt="icon" />
        </li>
      </ul>
    </div>
  </div>
</section>
