<section class="s-chart sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Расписание богослужений</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="s-chart__wrapper">
      <div class="s-chart__item">
        <div class="s-chart__item-title">В воскресенье и праздничные дни</div>
        <p class="s-chart__item-content">
          6:30 - Часы. Ранняя Литургия
          <br />
          8:30 - Исповедь
          <br />
          9:00 - Часы. Поздняя Литургия
          <br />
          18:00 - Исповедь
        </p>
      </div>
      <div class="s-chart__item">
        <div class="s-chart__item-title">В субботу</div>
        <p class="s-chart__item-content">
          7:00 - Исповедь
          <br />
          7:30 - Часы. Литургия
          <br />
          9:30 - Панихида
          <br />
          17:00 - Исповедь
          <br />
          18:00 - Всенощное бдение
        </p>
      </div>
      <div class="s-chart__item">
        <div class="s-chart__item-title">В будние дни</div>
        <p class="s-chart__item-content">
          7:00 - Исповедь
          <br />
          7:30 - Часы. Литургия
          <br />
          18:00 - Исповедь. Вечерня. Утреня
          <br />
        </p>
      </div>
    </div>
    <div data-spollers class="s-chart__spollers">
      <div class="s-chart__spoller">
        <div data-spoller class="s-chart__spoller-btn">
          <span>Крещение</span>
          <svg viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.355469 0.353516L10.3555 10.3535M10.3555 10.3535H5.49833M10.3555 10.3535V5.90907"
              stroke="currentColor"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <div class="s-chart__spoller-body">
            <div class="content">
              <p>
                Для подготовки к Таинству Крещения для крестных родителей,
                родных родителей и крещаемых взрослых необходимо прохождение
                огласительной беседы, которая проводится по средам в 20.00.
              </p>
              <p>
                Таинство Крещения в нашем храме совершается по предварительной
                записи, по телефону
                <a href="tel:89637713319">8 (963) 771-33-19</a>
                .
              </p>
            </div>
            <a href="#" class="simple-btn">подробнее</a>
          </div>
        </div>
      </div>
      <div class="s-chart__spoller">
        <div data-spoller class="s-chart__spoller-btn">
          <span>Венчание</span>
          <svg viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.355469 0.353516L10.3555 10.3535M10.3555 10.3535H5.49833M10.3555 10.3535V5.90907"
              stroke="currentColor"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <div class="s-chart__spoller-body">
            <div class="content">
              <p>
                Для подготовки к Таинству Крещения для крестных родителей,
                родных родителей и крещаемых взрослых необходимо прохождение
                огласительной беседы, которая проводится по средам в 20.00.
              </p>
              <p>
                Таинство Крещения в нашем храме совершается по предварительной
                записи, по телефону
                <a href="tel:89637713319">8 (963) 771-33-19</a>
                .
              </p>
            </div>
            <a href="#" class="simple-btn">подробнее</a>
          </div>
        </div>
      </div>
      <div class="s-chart__spoller">
        <div data-spoller class="s-chart__spoller-btn">
          <span>Отпевание</span>
          <svg viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.355469 0.353516L10.3555 10.3535M10.3555 10.3535H5.49833M10.3555 10.3535V5.90907"
              stroke="currentColor"
              fill="none"
            />
          </svg>
        </div>
        <div>
          <div class="s-chart__spoller-body">
            <div class="content">
              <p>
                Для подготовки к Таинству Крещения для крестных родителей,
                родных родителей и крещаемых взрослых необходимо прохождение
                огласительной беседы, которая проводится по средам в 20.00.
              </p>
              <p>
                Таинство Крещения в нашем храме совершается по предварительной
                записи, по телефону
                <a href="tel:89637713319">8 (963) 771-33-19</a>
                .
              </p>
            </div>
            <a href="#" class="simple-btn">подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
</section>
