<section class="s-clergy sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Духовенство</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="s-clergy__slider-wrapper">
      <div class="slider-btn _prev">
        <div class="inside">
          <svg viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.91797 0.459961L0.917969 6.45996L6.91797 12.46"
              stroke="currentColor"
              stroke-width="1.3"
              fill="none"
            />
          </svg>
        </div>
      </div>
      <div class="slider-btn _next">
        <div class="inside">
          <svg viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.460938 0.459961L6.46094 6.45996L0.460938 12.46"
              stroke="currentColor"
              stroke-width="1.3"
              fill="none"
            />
          </svg>
        </div>
      </div>
      <div class="swiper s-clergy__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-team">
              <div class="card-team__gallery">
                <img src="@img/team.jpg" alt="image" />
              </div>
              <div class="card-team__body">
                <h5 class="card-team__title">
                  <span>Протоирей Борис Потапов</span>
                </h5>
                <div class="card-team__status">Настоятель храма</div>
                <div class="card-team__wrapper-arrow">
                  <svg
                    class="card-team__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-team">
              <div class="card-team__gallery">
                <img src="@img/team.jpg" alt="image" />
              </div>
              <div class="card-team__body">
                <h5 class="card-team__title">
                  <span>Иерей Кирилл Киселев</span>
                </h5>
                <div class="card-team__status">Клирик храма</div>
                <div class="card-team__wrapper-arrow">
                  <svg
                    class="card-team__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <a href="#" class="swiper-slide s-clergy__slide">
            <img
              src="@img/clergy.jpg"
              alt="image"
              class="s-clergy__slide-img"
            />
            <div class="s-clergy__slide-title">
              <span>Святые нашего храма</span>
            </div>
            <svg
              class="s-clergy__slide-arrow"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                stroke="currentColor"
              />
            </svg>
          </a>
          <!-- <div class="swiper-slide">
            <a href="#" class="card-team">
              <div class="card-team__gallery">
                <img src="@img/team.jpg" alt="image" />
              </div>
              <div class="card-team__body">
                <h5 class="card-team__title">
                  <span>Протоирей Борис Потапов</span>
                </h5>
                <div class="card-team__status">Настоятель храма</div>
                <div class="card-team__wrapper-arrow">
                  <svg
                    class="card-team__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-team">
              <div class="card-team__gallery">
                <img src="@img/team.jpg" alt="image" />
              </div>
              <div class="card-team__body">
                <h5 class="card-team__title">
                  <span>Иерей Кирилл Киселев</span>
                </h5>
                <div class="card-team__status">Клирик храма</div>
                <div class="card-team__wrapper-arrow">
                  <svg
                    class="card-team__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <a href="#" class="swiper-slide s-clergy__slide">
            <img
              src="@img/clergy.jpg"
              alt="image"
              class="s-clergy__slide-img"
            />
            <div class="s-clergy__slide-title">
              <span>Святые нашего храма</span>
            </div>
            <svg
              class="s-clergy__slide-arrow"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                stroke="currentColor"
              />
            </svg>
          </a> -->
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
</section>
