<section class="s-clergy sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Духовенство</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="s-clergy__slider-wrapper">
      <div class="slider-btn _prev">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-clergy__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-team">
              <div class="card-team__gallery">
                <img src="@img/team.jpg" alt="image" />
              </div>
              <div class="card-team__body">
                <h5 class="card-team__title"><span>Протоирей Борис Потапов</span></h5>
                <div class="card-team__status">Настоятель храма</div>
                <div class="card-team__wrapper-arrow">
                  <svg class="card-team__arrow">
                    <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-team">
              <div class="card-team__gallery">
                <img src="@img/team.jpg" alt="image" />
              </div>
              <div class="card-team__body">
                <h5 class="card-team__title"><span>Иерей Кирилл Киселев</span></h5>
                <div class="card-team__status">Клирик храма</div>
                <div class="card-team__wrapper-arrow">
                  <svg class="card-team__arrow">
                    <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <a href="#" class="swiper-slide s-clergy__slide">
            <img
              src="@img/clergy.jpg"
              alt="image"
              class="s-clergy__slide-img"
            />
            <div class="s-clergy__slide-title"><span>Святые нашего храма</span></div>
            <svg class="s-clergy__slide-arrow">
              <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
</section>
