<section class="s-diocese sect-p">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Новости викариатства</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="s-diocese__slider-wrapper">
      <div class="slider-btn _prev">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-diocese__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-diocese">
              <h5 class="card-diocese__title">
                <span>Помощь наркозависимым</span>
              </h5>
              <p class="card-diocese__content">
                “Сеть” - сеть православных центров помощи зависимым
              </p>
              <div class="card-diocese__wrapper-arrow">
                <svg class="card-diocese__arrow">
                  <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-diocese">
              <h5 class="card-diocese__title">
                <span>Отпавшим от православия</span>
              </h5>
              <p class="card-diocese__content">
                Первичный прием лиц, отпавших от Православия и желающих
                вернуться в лоно Православной церкви
              </p>
              <div class="card-diocese__wrapper-arrow">
                <svg class="card-diocese__arrow">
                  <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-diocese">
              <h5 class="card-diocese__title"><span>Помощь беженцам</span></h5>
              <p class="card-diocese__content">
                Сбор продуктов питания для пострадавших мирных жителей и
                беженцев из ДНР и ЛНР и Украины
              </p>
              <div class="card-diocese__wrapper-arrow">
                <svg class="card-diocese__arrow">
                  <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-diocese">
              <h5 class="card-diocese__title">
                <span>Помощь наркозависимым</span>
              </h5>
              <p class="card-diocese__content">
                “Сеть” - сеть православных центров помощи зависимым
              </p>
              <div class="card-diocese__wrapper-arrow">
                <svg class="card-diocese__arrow">
                  <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-diocese">
              <h5 class="card-diocese__title">
                <span>Отпавшим от православия</span>
              </h5>
              <p class="card-diocese__content">
                Первичный прием лиц, отпавших от Православия и желающих
                вернуться в лоно Православной церкви
              </p>
              <div class="card-diocese__wrapper-arrow">
                <svg class="card-diocese__arrow">
                  <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-diocese">
              <h5 class="card-diocese__title"><span>Помощь беженцам</span></h5>
              <p class="card-diocese__content">
                Сбор продуктов питания для пострадавших мирных жителей и
                беженцев из ДНР и ЛНР и Украины
              </p>
              <div class="card-diocese__wrapper-arrow">
                <svg class="card-diocese__arrow">
                  <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
