<section class="s-faq sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Часто задаваемые вопросы</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div data-spollers class="s-faq__spollers">
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>О смысле человеческой жизни</span>
          <svg
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
              stroke="currentColor"
            />
          </svg>
        </div>
        <div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Blanditiis, consequatur officia qui perspiciatis nemo eius numquam
              asperiores repudiandae facere ea reprehenderit recusandae omnis
              provident nesciunt cupiditate doloribus maxime iusto tenetur?
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>О таинстве Причащения</span>
          <svg
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
              stroke="currentColor"
            />
          </svg>
        </div>
        <div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Blanditiis, consequatur officia qui perspiciatis nemo eius numquam
              asperiores repudiandae facere ea reprehenderit recusandae omnis
              provident nesciunt cupiditate doloribus maxime iusto tenetur?
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>О таинстве Исповеди</span>
          <svg
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
              stroke="currentColor"
            />
          </svg>
        </div>
        <div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Blanditiis, consequatur officia qui perspiciatis nemo eius numquam
              asperiores repudiandae facere ea reprehenderit recusandae omnis
              provident nesciunt cupiditate doloribus maxime iusto tenetur?
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>О церковной свече</span>
          <svg
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
              stroke="currentColor"
            />
          </svg>
        </div>
        <div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Blanditiis, consequatur officia qui perspiciatis nemo eius numquam
              asperiores repudiandae facere ea reprehenderit recusandae omnis
              provident nesciunt cupiditate doloribus maxime iusto tenetur?
            </p>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
</section>
