<section class="s-faq sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Часто задаваемые вопросы</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="s-faq__body">
      <div class="s-faq__wrapper-btn">
        <a href="#" class="s-faq__btn">
          <span>О смысле человеческой жизни</span>
          <svg
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
              stroke="currentColor"
            />
          </svg>
        </a>
      </div>
      <div class="s-faq__wrapper-btn">
        <a href="#" class="s-faq__btn">
          <span>О таинстве Причащения</span>
          <svg
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
              stroke="currentColor"
            />
          </svg>
        </a>
      </div>
      <div class="s-faq__wrapper-btn">
        <a href="#" class="s-faq__btn">
          <span>О таинстве Исповеди</span>
          <svg
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
              stroke="currentColor"
            />
          </svg>
        </a>
      </div>
      <div class="s-faq__wrapper-btn">
        <a href="#" class="s-faq__btn">
          <span>О церковной свече</span>
          <svg
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
              stroke="currentColor"
            />
          </svg>
        </a>
      </div>
    </div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
</section>
