<section class="sect-m s-gallery">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Галерея</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="swiper s-gallery__slider">
      <div class="slider-btn _prev">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-1.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-2.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-3.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-4.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-5.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-6.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-7.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-8.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-9.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/gallery-10.webp" alt="image" />
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
  <div style="display: none" id="gallery-buttons">
    <a href="@img/gallery-1.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-2.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-3.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-4.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-5.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-6.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-7.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-8.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-9.webp" data-fancybox="gallery"></a>
    <a href="@img/gallery-10.webp" data-fancybox="gallery"></a>
  </div>
</section>
