<section class="sect-m s-gallery">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Галерея</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="swiper s-gallery__slider">
      <div class="slider-btn _prev">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper-wrapper">
        <a
          href="@img/gallery-1.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-1.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-2.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-2.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-3.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-3.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-4.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-4.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-5.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-5.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-6.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-6.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-7.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-7.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-8.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-8.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-9.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-9.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery-10.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery-10.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-pagination"></div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
</section>
