<section class="sect-m s-gallery">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Галерея</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="swiper s-gallery__slider">
      <div class="slider-btn _prev">
        <div class="inside">
          <svg viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.91797 0.459961L0.917969 6.45996L6.91797 12.46"
              stroke="currentColor"
              stroke-width="1.3"
              fill="none"
            />
          </svg>
        </div>
      </div>
      <div class="slider-btn _next">
        <div class="inside">
          <svg viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.460938 0.459961L6.46094 6.45996L0.460938 12.46"
              stroke="currentColor"
              stroke-width="1.3"
              fill="none"
            />
          </svg>
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-1">
          <img src="@img/gallery-1.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-2">
          <img src="@img/gallery-2.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-3">
          <img src="@img/gallery-3.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-4">
          <img src="@img/gallery-4.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-5">
          <img src="@img/gallery-5.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-6">
          <img src="@img/gallery-6.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-7">
          <img src="@img/gallery-7.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-8">
          <img src="@img/gallery-8.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-9">
          <img src="@img/gallery-9.webp" alt="image" />
        </div>
        <div class="swiper-slide s-gallery__slide" data-gallery="gallery-10">
          <img src="@img/gallery-10.webp" alt="image" />
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
  <div style="display: none" id="gallery-buttons">
    <a href="@img/gallery-1.webp" data-fancybox="gallery" data-gallery="gallery-1"></a>
    <a href="@img/gallery-2.webp" data-fancybox="gallery" data-gallery="gallery-2"></a>
    <a href="@img/gallery-3.webp" data-fancybox="gallery" data-gallery="gallery-3"></a>
    <a href="@img/gallery-4.webp" data-fancybox="gallery" data-gallery="gallery-4"></a>
    <a href="@img/gallery-5.webp" data-fancybox="gallery" data-gallery="gallery-5"></a>
    <a href="@img/gallery-6.webp" data-fancybox="gallery" data-gallery="gallery-6"></a>
    <a href="@img/gallery-7.webp" data-fancybox="gallery" data-gallery="gallery-7"></a>
    <a href="@img/gallery-8.webp" data-fancybox="gallery" data-gallery="gallery-8"></a>
    <a href="@img/gallery-9.webp" data-fancybox="gallery" data-gallery="gallery-9"></a>
    <a href="@img/gallery-10.webp" data-fancybox="gallery" data-gallery="gallery-10"></a>
  </div>
</section>
