<section class="s-help sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Помощь храму</h2>
    </div>
    <div class="s-help__wrapper">
      <div class="s-help__info">
        <p class="s-help__content">
          Храм нуждается в помощи, чтобы помочь храму вы можете перевести
          разовое пожертвование или оформить ежемесячную подписку на
          пожертвования
        </p>
        <a href="#" class="simple-btn s-help__info-btn">подробнее</a>
      </div>
      <div class="s-help__buttons">
        <a href="#" class="btn-s _outline">Пожертвовать на храм</a>
        <a href="#" class="btn-s">Оформить подписку</a>
      </div>
      <a href="#" class="simple-btn s-help__simple-btn-mob">подробнее</a>
    </div>
  </div>
</section>
