<section class="sect-m s-history">
  <div class="s-history__head">
    <div class="container">
      <div class="sect-head">
        <h2 class="s-title">История храма</h2>
        <a href="#" class="simple-btn">весь раздел</a>
      </div>
      <div class="s-history__line-wrapper">
        <div class="s-history__line">
          <div class="s-history__line-item">
            <div class="name">ОСВЯЩЕНИЕ ДЕРЕВЯННОЙ ЦЕРКВИ ПЕРТРА И ПАВЛА</div>
            <div class="circle">
              <div></div>
            </div>
            <div class="year content-min">1747</div>
          </div>
          <div class="s-history__line-item">
            <div class="name">
              ОСВЯЩЕНИЕ ГЛАВНОГО ПРЕСТОЛА ПРЕоБРАЖЕНИЯ ГОСПОДНЯ
            </div>
            <div class="circle">
              <div></div>
            </div>
            <div class="year content-min">1750</div>
          </div>
          <div class="s-history__line-item">
            <div class="name">ОСВЯЩЕНИЕ КАМЕННОГО зДАНИЯ ЦЕРКВИ</div>
            <div class="circle">
              <div></div>
            </div>
            <div class="year content-min">1760</div>
          </div>
          <div class="s-history__line-item">
            <div class="name">
              ВЗРЫВ
              <br />
              ХРАМА
            </div>
            <div class="circle">
              <div></div>
            </div>
            <div class="year content-min">18 июля 1964</div>
          </div>
          <div class="s-history__line-item _active">
            <div class="name">Освящение восстановленного храма</div>
            <div class="circle">
              <div></div>
            </div>
            <div class="year content-min">8 мая 2015</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- href="https://rutube.ru/play/embed/4ca5a03de6b4bec4e1427792f41fef06" -->
  <!-- data-type="iframe" -->
  <a
    href="/img/video.jp"
    data-fancybox
    class="video"
    style="background: url('/img/video.jpg') left 0 center / cover no-repeat"
  >
    <div class="btn-play">
      <svg>
        <use xlink:href="@svg/icons.svg#icon-play"></use>
      </svg>
    </div>
  </a>
  <div class="container">
    <div class="s-history__quote">
      <div class="s-history__quote-tag"></div>
      <p class="s-history__quote-content">
        ...Возрождение Преображенского храма, его великое освящение в канун
        70-летия Победы нашего народа в Великой Отечественной войне — это событие
        очень большого историческо­го масштаба, имеющее огромное символическое
        значение. Это стало делом особой важности, потому что должна была
        восторжествовать историческая справед­ливость. 
      </p>
      <div class="s-history__author content-min">
        -   Святейший Патриарх Московский и всея Руси Кирилл
      </div>
    </div>
    <a href="#" class="simple-btn _mob">Весь раздел</a>
  </div>
</section>
