<section class="s-news sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Новости</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="swiper s-news__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <img src="@img/news-1.jpg" alt="image" class="card-new__img" />
            <div class="card-new__body">
              <div class="card-new__title">Новый год в Храме</div>
              <div class="card-new__date">31 декабря в 23:00</div>
              <svg class="card-new__arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <img src="@img/new.jpg" alt="image" class="card-new__img" />
            <div class="card-new__body">
              <div class="card-new__title">
                Передача храму святынь - шапочки и ремня с мощей св. Иоанна
                Русского
              </div>
              <div class="card-new__date">24 мая</div>
              <svg class="card-new__arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <img src="@img/news-3.jpg" alt="image" class="card-new__img" />
            <div class="card-new__body">
              <div class="card-new__title">Расписание праздничных служб</div>
              <div class="card-new__date">7 января</div>
              <svg class="card-new__arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <img src="@img/news-1.jpg" alt="image" class="card-new__img" />
            <div class="card-new__body">
              <div class="card-new__title">Новый год в Храме</div>
              <div class="card-new__date">31 декабря в 23:00</div>
              <svg class="card-new__arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <img src="@img/new.jpg" alt="image" class="card-new__img" />
            <div class="card-new__body">
              <div class="card-new__title">
                Передача храму святынь - шапочки и ремня с мощей св. Иоанна
                Русского
              </div>
              <div class="card-new__date">24 мая</div>
              <svg class="card-new__arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-new">
            <img src="@img/news-3.jpg" alt="image" class="card-new__img" />
            <div class="card-new__body">
              <div class="card-new__title">Расписание праздничных служб</div>
              <div class="card-new__date">7 января</div>
              <svg class="card-new__arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
</section>
