<section class="s-question sect-p">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Задать вопрос священнику</h2>
    </div>
    <div class="s-question__wrapper">
      <form action="#" class="s-question__form" id="form-question">
        <div class="input-control">
          <input
            type="text"
            placeholder="Ваше имя"
            name="Имя"
            class="input"
            id="form-question-name"
          />
        </div>
        <div class="input-control">
          <input
            type="email"
            placeholder="Ваша электронная почта"
            required
            class="input"
            id="form-question-email"
          />
        </div>
        <div class="input-control">
          <textarea placeholder="Ваш вопрос" id="form-question-text" class="input"></textarea>
        </div>
        <div class="privacy-policy-content content-min text-gray">
          Нажимая отправить Вы соглашаетесь на
          <a href="#" target="_blank">обработку персональных данных</a>
        </div>
        <button type="submit" class="btn-s"><span>Отправить</span></button>
      </form>
      <p class="s-question__content">
        Вы можете задать интересующий Вас вопрос батюшке с помощью данной формы.
        По мере возможности он Вам ответит на указанную
        <br />
        Вами в форме электронную почту (вопросы и ответы на сайте не
        публикуются).
      </p>
    </div>
  </div>
</section>
