<section class="sect-m s-tea">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Чаепития для молодежи</h2>
      <a href="#" class="simple-btn">весь раздел</a>
    </div>
    <div class="s-tea__wrapper">
      <ul class="list s-tea__list">
        <li>
          <span>Где:</span>
          лекторий храма
        </li>
        <li>
          <span>Когда:</span>
          каждый четверг в 20:00
        </li>
      </ul>
      <p class="s-tea__content">
        Cмотрим краткие видео, читаем и комментируем душеполезную литературу,
        задаем вопросы батюшке - получаем интересные ответы и пьем чай.  Ответы
        на самые интересные вопросы с чаепитий Вы можете посмотреть в
        видеозаписи.
      </p>
    </div>
  </div>
  <div class="container">
    <a href="#" class="simple-btn _mob">весь раздел</a>
  </div>
</section>
