<section class="s-useful sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Полезные разделы</h2>
    </div>

    <div class="s-useful__slider-wrapper">
      <div class="slider-btn _prev">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next">
        <svg>
          <use xlink:href="@svg/icons.svg#icon-next"></use>
        </svg>
      </div>
      <div class="swiper s-useful__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/gallery-6.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">Детская воскрестаня школа</div>
                <div class="card-useful__wrapper-arrow">
                  <svg class="card-new__arrow">
                    <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/useful-2.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">Рекомендуемая литература</div>
                <div class="card-useful__wrapper-arrow">
                  <svg class="card-new__arrow">
                    <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/useful-3.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">Правила постов</div>
                <div class="card-useful__wrapper-arrow">
                  <svg class="card-new__arrow">
                    <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/gallery-6.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">Детская воскрестаня школа</div>
                <div class="card-useful__wrapper-arrow">
                  <svg class="card-new__arrow">
                    <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/useful-2.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">Рекомендуемая литература</div>
                <div class="card-useful__wrapper-arrow">
                  <svg class="card-new__arrow">
                    <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/useful-3.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">Правила постов</div>
                <div class="card-useful__wrapper-arrow">
                  <svg class="card-new__arrow">
                    <use xlink:href="@svg/icons.svg#icon-arrow-next"></use>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
