<section class="s-useful sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Полезные разделы</h2>
    </div>

    <div class="s-useful__slider-wrapper">
      <div class="slider-btn _prev">
        <div class="inside">
          <svg viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.91797 0.459961L0.917969 6.45996L6.91797 12.46"
              stroke="currentColor"
              stroke-width="1.3"
              fill="none"
            />
          </svg>
        </div>
      </div>
      <div class="slider-btn _next">
        <div class="inside">
          <svg viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.460938 0.459961L6.46094 6.45996L0.460938 12.46"
              stroke="currentColor"
              stroke-width="1.3"
              fill="none"
            />
          </svg>
        </div>
      </div>
      <div class="swiper s-useful__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/gallery-6.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">
                  <span>Детская воскрестаня школа</span>
                </div>
                <div class="card-useful__wrapper-arrow">
                  <svg
                    class="card-new__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/useful-2.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">
                  <span>Рекомендуемая литература</span>
                </div>
                <div class="card-useful__wrapper-arrow">
                  <svg
                    class="card-new__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/useful-3.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">
                  <span>Правила постов</span>
                </div>
                <div class="card-useful__wrapper-arrow">
                  <svg
                    class="card-new__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/gallery-6.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">
                  <span>Детская воскрестаня школа</span>
                </div>
                <div class="card-useful__wrapper-arrow">
                  <svg
                    class="card-new__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/useful-2.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">
                  <span>Рекомендуемая литература</span>
                </div>
                <div class="card-useful__wrapper-arrow">
                  <svg
                    class="card-new__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-useful">
              <div class="card-useful__gallery">
                <img src="@img/useful-3.jpg" alt="image" />
              </div>
              <div class="card-useful__body">
                <div class="card-useful__title">
                  <span>Правила постов</span>
                </div>
                <div class="card-useful__wrapper-arrow">
                  <svg
                    class="card-new__arrow"
                    viewBox="0 0 18 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0 8.57129L17.1421 8.57129M17.1421 8.57129L13.7076 12.0058M17.1421 8.57129L13.9994 5.42859"
                      stroke="currentColor"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
