@use "./styles/base/normalize";
@use "./styles/base/vars";
@use "./styles/base/templates";
@use "./styles/base/settings";
@use "./styles/base/media";
@use "./styles/base/body-config";
@use "./styles/base/config-container";

// ui
@use "./styles/ui/button";
@use "./styles/ui/list";
@use "./styles/ui/sect";
@use "./styles/ui/title";
@use "./styles/ui/card-new";
@use "./styles/ui/slider";

// widgets
@use "./styles/widgets/burger";

// components
@use "./styles/components/header";

@use "./styles/components/intro";
@use "./styles/components/s-news";

@use "./styles/components/footer";