@use "./styles/base/normalize";
@use "./styles/base/vars";
@use "./styles/base/templates";
@use "./styles/base/settings";
@use "./styles/base/media";
@use "./styles/base/body-config";
@use "./styles/base/config-container";

// ui
@use "./styles/ui/button";
@use "./styles/ui/list";
@use "./styles/ui/sect";
@use "./styles/ui/title";
@use "./styles/ui/card-new";
@use "./styles/ui/slider";
@use "./styles/ui/dropdown";
@use "./styles/ui/menu-item-has-children";
@use "./styles/ui/card-team";
@use "./styles/ui/content";
@use "./styles/ui/card-useful";
@use "./styles/ui/fancybox";

// widgets
@use "./styles/widgets/burger";
@use "./styles/widgets/player";

// components
@use "./styles/components/header";

@use "./styles/components/intro";
@use "./styles/components/s-news";
@use "./styles/components/s-offer";
@use "./styles/components/s-help";
@use "./styles/components/s-gallery";
@use "./styles/components/s-schedule";
@use "./styles/components/s-clergy";
@use "./styles/components/s-chart";
@use "./styles/components/s-tea";
@use "./styles/components/s-faq";
@use "./styles/components/s-useful";
@use "./styles/components/s-history";

@use "./styles/components/footer";