@keyframes animationScale {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes animationTranslate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}
