@use "../base/templates" as *;
@use "../base/media" as *;

.body-hidden {
  overflow: hidden;
  touch-action: none;

  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;

  main {
    overflow: hidden;
    touch-action: none;

    overscroll-behavior: none;
    -webkit-overflow-scrolling: auto;
  }
}
.body {
  padding-left: 360px;
  @include desktop {
    padding-left: 65px;
  }
  @include laptop-min {
    padding-left: 0;
  }

  @media (min-width: 992px) {
    overflow: hidden;
    touch-action: none;

    overscroll-behavior: none;
    -webkit-overflow-scrolling: auto;
  }
}

.site-content {
  width: 100%;
}
.main {
  width: 100%;
}
main {
  @media (min-width: 992px) {
    height: 100vh;
    overflow-y: auto;
  }
}
