@mixin min-desktop {
  @media (min-width: 1681px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1680px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 1365px) {
    @content;
  }
}
@mixin laptop-middle {
  @media (max-width: 1199px) {
    @content;
  }
}
@mixin laptop-min {
  @media (max-width: 991px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin tablet-min {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 479px) {
    @content;
  }
}
@mixin mobile-min {
  @media (max-width: 399px) {
    @content;
  }
}