@use "../base/templates" as *;
@use "../base/media" as *;


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
button, [data-spoller] {
  color: inherit;
  text-decoration: none;

  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-appearance: none !important;
  user-select: none !important;
  outline: none !important;
}

img, svg {
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 120%;
  @include mobile {
    font-size: 14px;
  }
}
